.palavra-oculta {
     font-size:2em;
     letter-spacing: 0.5em;
}
.letras-erradas {
    margins-top:10px;
}
.forca  {
     height: 200px;
     width: 150px;
     background-color:  #00f000;
     margin: 20px auto;
     position: relative;
}
.forca .parte{
    position: absolute;
    background-color: #333;
}
.cabeça {
    top: 20px;
    left: 50%;
    transform: translertx(-50%);
    width: 40px;
    height: 40px;
    border-radius:50%
}
.corpo {
    top: 70px;
    left: 50%;
    transform:10px;
    width: 10px;
    height: 50px;
}


.braco-esquerdo {
    top: 70px;
    left: calc(50% - 25px);
    width: 30px;
    height: 10px;
    transform: rotate(45deg);
}
.braco-direito {
    top: 70px;
    right: calc(50% - 25px);
    width: 30px;
    height: 10px;
    transform: rotate(-45deg);
}




.perna-esquerda {
     top: 125px;
     left: calc(50% - 5px);
     width: 30px;
     height: 10px;
     transform: rotate(45px);
}
.perna-direita {
     top: 125px;
     left: calc(50% - 5px)
     width: 30px;
     height: 10px
     transform: rotate(-45px);
}
